

@import url('https://fonts.googleapis.com/css?family=Poppins:200|Questrial&display=swap');

/* 			font-family: 'Questrial', sans-serif;
			font-family: 'Poppins', sans-serif; 
*/


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  background-color: #fff;
}