
@import url('https://fonts.googleapis.com/css?family=Poppins:200|Questrial&display=swap');

/* 			font-family: 'Questrial', sans-serif;
			font-family: 'Poppins', sans-serif; 
*/

.img-competition{
    width: 100%;
	margin-top: 20px;
	opacity: 0.7;
}


.compet-card{
    background-color: transparent; 
    margin-bottom:20px; 
}
.pr-title{
	float:left;
	font-size:24px;
	text-align:left;
	font-family: 'Questrial', sans-serif;
	font-weight: 700;
	position:relative;
	padding-left:40px;
	padding-right:20px;
	padding-top: 20px;
}
.pr-title span {
	float:left;
	width:100%;
	padding-top:10px;
	color:red;
	text-align:left;
	font-size:13px;
	text-transform:uppercase;
	font-weight:500;
	line-height:22px;
}
.pr-title:before  {
	content:'';
	position:absolute;
	left: 0;
	width: 4px;
	height:120px;
	background:#262626;
	top: 40%;
	margin-top:-60px;
}

.titulo-h4{
    color:#262626;
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
}

.titulo-h3{
    color:#262626;
    font-family: 'Questrial', sans-serif;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.texto-p{
    color:#363636;
    font-family: 'Questrial', sans-serif;
    font-size: 1.2em;
	margin-bottom: 5px;
	padding-left:40px;
	padding-right:20px;
	padding-top: 20px;
	text-align:left;
}

/*--------------------SECTION PROYECTO 1 -----------------*/




.btn {
    padding: 15px 30px;
    position: relative;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	text-transform: uppercase;
	
}

.btn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    height: 1px;
    width: 0;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.btn-tecarch5{
    background-color: #262626;
    color: #f5f5f5;
	margin-right: 10px; 
	margin-left: 40px;
	transition: all 200ms linear;
}
.btn-tecarch5:hover{
    background-color: #363636;
    color: #ffffff;
	margin-right: 10px; 
	transition: all 200ms linear;
}
