
.titulo-portfolio{
    color:#363636;
    margin-top:200px;
}

.titulo-detalle{
    font-family: 'Questrial', sans-serif;
    color:#262626;
    font-size:2em;
    position: relative;
    top: 100px;
    left:20px;
  }

.datos-arqu{
    font-family: 'Questrial', sans-serif;
    color:#262626;
    font-size:1.4em;
    margin-top:150px;
}

.pr-title6{
	float:left;
	font-size:18px;
	text-align:left;
	font-family: 'Questrial', sans-serif;
	font-weight: 700;
	position:relative;
	padding-left:40px;
	padding-right:20px;
	/* padding-top: 20px; */
}
.pr-title6 span {
	float:left;
	width:100%;
	padding-top:10px;
	color:#363636;
	text-align:left;
	font-size:13px;
	text-transform:uppercase;
	font-weight:500;
	line-height:22px;
}
.pr-title6:before  {
	content:'';
	position:absolute;
	left: 0;
	width: 4px;
	height:120px;
	background:#262626;
	top: 40%;
	margin-top:-105px;
}
