.titulo{
  font-family: 'Questrial', sans-serif;
  color:#262626;
  font-size:2em;
  position: relative;
  top: 100px;
  left:20px;
}

.fondo-portfolio{
  z-index: 100;
  background-color: transparent;
  position: relative;
  top: 150px;
  margin-bottom: 10px;
  
}

.portfolio-list{
  display: flex;
  justify-content: center;
}
.btn-tecarch{
  background-color: #262626;
  color: #f5f5f5;
  margin-right: 10px; 
  margin-left: 40px;
  transition: all 200ms linear;
}
.btn-tecarch:hover{
  background-color: #363636;
  color: #ffffff;
  margin-right: 10px; 
  transition: all 200ms linear;
}
